@import "styles/shared/theme";

.feed_filter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  &__item {
    font-size: $font-size-base - 1;
    font-weight: 600;
    color: $disabled-color;
    cursor: pointer;

    &:hover, &_active {
      color: $primary-color;
    }
  }
}
